<div class="l-container u-padding--none u-margin--tp--sm">
  <div class="row">
    <div class="u-content--center">
      <div class="c-card u-text--centered">
        <div class="c-card__header u-border--bottom">
          <img *ngIf="profilePicture" class="u-image u-image--150 u-image--rounded" [src]="profilePicture" alt="">
        </div>
        <osr-tabs>
          <osr-tab title="./assets/icons/svg/misc/user.svg">
              <h3 class="c-card__subtitle u-margin--none">Hi, my name is</h3>
              <h2 class="c-card-title u-text--lg">{{nameSurname}}</h2>
          </osr-tab>
          <osr-tab title="./assets/icons/svg/misc/email.svg">
              <h3 class="c-card__subtitle u-margin--none">My email address is</h3>
              <h2 class="c-card-title u-text--lg">{{firstElement?.email}}</h2>
          </osr-tab>
          
          <osr-tab title="./assets/icons/svg/misc/calendar.svg">
              <h3 class="c-card__subtitle u-margin--none">My birthday is</h3>
              <h2 class="c-card-title u-text--lg">{{firstElement?.dob.date | date: 'mediumDate'}}</h2>
          </osr-tab>

          
          <osr-tab title="./assets/icons/svg/misc/map-location.svg">
              <h3 class="c-card__subtitle u-margin--none">My address is</h3>
              <h2 class="c-card-title u-text--lg">{{firstElement?.location.postcode}} - {{firstElement?.location.street}} {{firstElement?.location.city}}</h2>
          </osr-tab>

          <osr-tab title="./assets/icons/svg/misc/call.svg">
              <h3 class="c-card__subtitle u-margin--none">My phone number is</h3>
              <h2 class="c-card-title u-text--lg">{{firstElement?.phone}}</h2>
          </osr-tab>

          <osr-tab title="./assets/icons/svg/misc/locked.svg">
              <h3 class="c-card__subtitle u-margin--none">My password is</h3>
              <h2 class="c-card-title u-text--lg">{{firstElement?.login.password}}</h2>
          </osr-tab>

        </osr-tabs>
        
       
      </div>
    </div>
  </div>
</div>